html {
    background: url(img/anime-boattown-bg.png) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

body {
    font-family: Garamond, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#site-logo {
    width: 25px;
    height: 25px;
}

#navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-left { 
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    /* border: green solid 1px; */
}

.navbar-right {
    float: right;
}

