html {
    background: url(img/anime-boattown-bg.png) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

#site-logo {
    width: 3%;
    height: 3%;
}

#navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li { 
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    border: green solid 1px;
}
