html {
    background: url(img/purple-gradient-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#site-logo {
    width: 35px;
    height: 35px;
}

#navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-left { 
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    /* border: green solid 1px; */
}

.navbar-right {
    float: right;
}

#search-title {
    transform: translate( 140%, 20%);
    height: 500px;
    width: 500px;
}

#searchbar {
    transform: translate(-1%, -7%);
    -webkit-appearance: none;
    height: 25px;
    width: 330px;
    background-color: #ECF565;
    border: 0;
    outline: none;
}

#search-icon {
    transform: translate(20%, 20%);
}

#search-wrapper {
    /* border: 5px solid red; */
    border-radius: 25px; 
    background-color: #ECF565;
    width: 410px;
    height: 35px;
    transform: translate(179%, -230%);
    border: solid white;
    cursor: pointer;
}

/* Games Page */

#games-logo {
    width: 500px;
    height: 500px;
    transform: translate(140%, -25%);
}

#numbers-guessing-game-img {
    width: 300px;
    height: 200px;
    transform: translate(75%, -120%);
}

/* BubblesOleLinks Page */

#bubbles-logo {
    width: 500px;
    height: 500px;
    transform: translate(140%, -25%);
}

#youtube-icon {
    height: 100px;
    width: 100px;
}

#instagram-icon {
    height: 110px;
    width: 145px;
}

#facebook-icon {
    height: 140px;
    width: 135px;
} 

#googleplus-icon {
    height: 100px;
    width: 100px;
} 

#twitter-icon {
    height: 115px;
    width: 110px;
} 

#linkedin-icon {
    height: 110px;
    width: 110px;
} 
